/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.clocks:hover {
  background-color: lightgray;
}

.clocks {
  padding:3px;
  width:75%;
  transition: background 500ms;
}

a {
  text-decoration: none;
  color:black;
  transition: color 500ms;
}

a:hover {
  color:lightseagreen;
}

body {
  background-color: rgb(213, 226, 226);
}

#input {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.hideThese {
  height:100px;
  border-radius: 10px;
}

.clocks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clocks {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

img {
  transition: filter 150ms linear;
}

img:hover {
  filter:saturate(40%) brightness(70%);
}

.filler {
  background-color: lightcyan;
  height:100%;
  width:100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:gray;
  font-size: 18px;
}


.images {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-gap:10px;

  /* border:1px solid lightslategrey;
  padding:5px;
  border-radius: 10px; */
}

#bundles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.data {
  margin-top: 20px;
}

h1 {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  padding:20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
h1 {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  margin-left: 110px;
}



img:hover {
  filter:saturate(40%) brightness(70%);
}

.mainGrid {
  font-family: 'Roboto', Arial, sans-serif;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width:100%;
}

a {
  text-decoration: none;
  color:black;
}


.clocks {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}


.images {
  display:grid;
  height:calc(445px/2);
  width:50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.center {
  display: flex;
  width:100%;
  justify-content: center;
}

.filler {
  background-color: lightcyan;
  height:75%;
  width:75%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:gray;
  font-size: 18px;
}

.text:hover {
  background-color: #ededed;
}

.header {
  font-size: 40px;
}

.button {
  border-radius: 3px;
  font-size:18px;
  padding: 15px;
  margin-top:3px;
  transition: background-color 250ms linear;
  border: 1px solid black;
  width: 50%;
  cursor: pointer;
}

.gallaryButton {
  background-color: #9f3100;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.purchaseButton {
  background-color: #9f9a00;
}

.purchaseButton:hover {
  background-color: #9fba00;
}

.gallaryButton:hover {
  background-color: #9f6500;
}

.popupButton {
  background-color: #9f6500;
}

.popupButton:hover {
  background-color: #9f9400;
}

.gray {
  color:gray
}

#popup {
  padding-top: 10px;
  box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto', Arial, sans-serif;
  position: fixed;
  width:100%;
  height: 100%;
  opacity:1;
  z-index: 2;
  margin: auto auto;

  text-align: center;
  display: none;
}
.info {
  width:50%;
  height:90%;
  background-color: white;
  border:1px solid black;
  padding:10px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:700px) {
  .info {
    width:70%;
    height:100%;
    font-size: 1em !important;
  }
}

.fix {
  margin-top: 10px;
}

#cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:1;
  width:100%;
  height:100%;
  display:none;
} */


/* side bar slide in CSS */

/* The side navigation menu */
.sidenav {
  font-family: "Roboto", arial, sans-serif;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.side {
  border-bottom: 1px solid black;
}

.sideTop {
  border-top:1px solid black;
  border-bottom:1px solid black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: lightblue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#connect a {
  display: inline-block;
}

#connect {
  top: 85%;
  position: absolute;
}

main {
  font-family: "Roboto", Arial, sans-serif;
}

#aboutmain {
  margin-left:100px;
}

.discription {
  height:120px;
  width: 100%;
}

.price {
  padding: 10px 0 10px 0;
  font-size:18px;
}