/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.clocks:hover {
  background-color: lightgray;
}

.clocks {
  padding:3px;
  width:75%;
  transition: background 500ms;
}

a {
  text-decoration: none;
  color:black;
  transition: color 500ms;
}

a:hover {
  color:lightseagreen;
}

body {
  background-color: rgb(213, 226, 226);
}

#input {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.hideThese {
  height:100px;
  border-radius: 10px;
}

.clocks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clocks {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

img {
  transition: filter 150ms linear;
}

img:hover {
  filter:saturate(40%) brightness(70%);
}

.filler {
  background-color: lightcyan;
  height:100%;
  width:100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:gray;
  font-size: 18px;
}


.images {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-gap:10px;
}

#bundles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.data {
  margin-top: 20px;
}

h1 {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  padding:20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* side bar slide in CSS */

/* The side navigation menu */
.sidenav {
  font-family: "Roboto", arial, sans-serif;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.side {
  border-bottom: 1px solid black;
}

.sideTop {
  border-top:1px solid black;
  border-bottom:1px solid black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: lightblue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#connect a {
  display: inline-block;
}

#connect {
  top: 85%;
  position: absolute;
}

main {
  font-family: "Roboto", Arial, sans-serif;
}

#aboutmain {
  margin-left:100px;
}

.discription {
  height:120px;
  width: 100%;
}

.price {
  padding: 10px 0 10px 0;
  font-size:18px;
}